<!DOCTYPE HTML>
<html>
<head>
    <title>pixi.js example 1</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>
    <script src="/bin/pixi.dev.js"></script>
	<script src="/bin/gameboard.js"> </script>
	<script src="/bin/levels.json"> </script>
	<script src="/bin/character.js"> </script>



</head>
<body>
    <script>

	/* Globals */
	var HEIGHT = 480;
	var WIDTH = 640;

	/* Set a timeout for animation */
	var spriteNum = 1;
	var timeout = 0;
	var character; //Declare character here for global scope

	// create an new instance of a pixi stage with a grey background
	var stage = new PIXI.Stage(0x888888);

	// create a renderer instance width=640 height=480
	var renderer = PIXI.autoDetectRenderer(WIDTH, HEIGHT);

	// importing a texture atlas created with texturepacker
	var tileAtlas = ["/images/link.json"];

	// create a new loader
	var loader = new PIXI.AssetLoader(tileAtlas);

	// create an empty container
	var gameContainer = new PIXI.DisplayObjectContainer();

	// add the container to the stage
	stage.addChild(gameContainer);

	// add the renderer view element to the DOM
	document.body.appendChild(renderer.view);

	// use callback
	loader.onComplete = onTilesLoaded

	//begin load
	loader.load();	

	// importing a texture atlas created with texturepacker
	var bground = ["/images/background.json"];

	// create a new loader
	var loader = new PIXI.AssetLoader(bground);

	/* Create the game board */
	var gameBoard = new GameBoard();

	/* Get the maps object */
	var levelMaps = JSON.parse(Levels);
		
	/* Finally load the assests */
	var loader_new = new PIXI.AssetLoader(bground);
	loader_new.onComplete = test;
	loader_new.load();


	function test() {
		/* This can be empty for now since it is taken care of below */
	}

function onTilesLoaded(){

	/* Get the background image */
	var background = PIXI.Sprite.fromImage("/images/background.png");
	gameContainer.addChild(background);

	/* Draw the walls on the screen */
	var graphics = gameBoard.setWalls(levelMaps);
	gameContainer.addChild(graphics);

	/* Initialize the main character sprite */
	character = new Character(PIXI.Sprite.fromFrame(2));

	/* Set the character's starting position */
	character.setPosition(50, 50);

	/* Add the character sprite to the screen */
	gameContainer.addChild(character.sprite);

	
	/* Add the event listeners for the button pushes */
	document.addEventListener('keydown', function(event) {
		
		/* Left */
		if(event.keyCode == 37) {
			character.translation(-2,0);
		}
		/* Up */
		if(event.keyCode == 38) {
			character.translation(0,-2);
		}
		/* Right */
		if(event.keyCode == 39) {
			character.translation(2,0);
		}
		/* Down */
		if(event.keyCode == 40) {
			character.translation(0,2);
		}
	});

//	character.mousedown = character.touchstart = function(data) {

//		gameContainer.removeChild(this);
//		var character = PIXI.Sprite.fromFrame(1);
//		gameContainer.addChild(character);

//	}		


	requestAnimFrame(animate);
}

/* This method gets called repeatedly by the Pixi driver */
function animate() {

	/* Get the animation frame (required by Pixi) */
	requestAnimFrame(animate);

	/* Use a timeout for updating the Link sprite */
	timeout++;
	if((timeout%25) == 0) {	

		/* Increment through all of the spite images of Link */
		if(spriteNum > 3)
			spriteNum = 0;

		/* Get the current character and the one to switch with
		   and set the new characters location to the same as the one
		   we're replacing  */	
		var orig = gameContainer.getChildAt(2);
		character.updateSprite(PIXI.Sprite.fromFrame(spriteNum+1));

		character.setPosition(orig.position.x, orig.position.y);

		/* Now swap the two characters on the screen */
		gameContainer.removeChild(orig);
		gameContainer.addChild(character.sprite);
		gameContainer.setChildIndex(character.sprite, 2);

		spriteNum++;
	}



	renderer.render(stage);
}






//	var renderer = new PIXI.CanvasRenderer(1024, 768, null, true, true);
//	document.body.appendChild(renderer.view);	
//	//var imgUrl = 'http://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Ski_trail_rating_symbol-blue_square.svg/600px-Ski_trail_rating_symbol-blue_square.svg.png';
////
////
////
////
////	
//	var sprite = PIXI.Sprite.fromImage(imgUrl);
//	sprite.position.set(50, 50);
//	sprite.pivot.set(sprite.width/2, sprite.height/2);
//	
//	stage.addChild(sprite);
//
//	/* Register key movements for the player */	
//	document.addEventListener('keydown', function(event) {
//		/* Left */
//		if(event.keyCode == 37) {
//		    sprite.position.set(sprite.x-5,sprite.y);
//		}
//		/* Up */
//		if(event.keyCode == 38) {
//			sprite.position.set(sprite.x,sprite.y-5);
//		}
//		/* Right */
//		if(event.keyCode == 39) {
//			sprite.position.set(sprite.x+5,sprite.y);
//		}
//		/* Down */
//		if(event.keyCode == 40) {
//			sprite.position.set(sprite.x,sprite.y+5);
//		}
//	});
//
//
//	requestAnimFrame(animate);
//	function animate() {
//	    requestAnimFrame(animate);
//	   
//	   // sprite.rotation += 0.1;
//	    
//	    renderer.render(stage);
//	}

    </script>

    </body>
</html>
